/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/css/app.css
/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache
/composer.lock
composer.lock
/storage/*
/storage/logs/*.key
/.vscode/*
yedeksftp.json
sftp.json
*.cmd
.idea/*
.vscode/*
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.php.core.prefs
.project
.buildpath
.settings/org.eclipse.core.resources.prefs
*.bat
.DS_Store
