 .wrapper {
    width: 800px;
   margin: 0;
   padding: 0;
 }

 img {
   max-width: 75%;

   margin: 0px;
 }

 div{
   box-sizing: border-box;
 }

 h2, h4{ margin-bottom: 2px;}
 h4 {
   margin-top: 0;
   font-weight: 300;
   color: rgb(0,160,209);
   text-transform: uppercase;
   letter-spacing: .2em;
   font-size: 1.1em;
 }


 .round{
   border-radius: 100%;
 }

 .float-left {
   float: left;
   display: inline-block;
   padding: 10px;
 }
h5{
  margin-left: -20px;
  padding: 1px;
  margin: 0px;
 }

 .id-card {
    position: relative;
    background-color: white;
    height: 277px;
    max-width: 60%;
   box-shadow: 1px 1px 20px 2px rgba(0,0,0,.3);
 }

 .avatar-wrap{
   width: 35%;
   margin-right: -14px;
   margin-top: 8px;
 }

 .bio-wrap{
   width: 99%;
   padding: 22px;


 }
  p { font-size: 0.7em; }
 .links-wrap{
   width: 100%;
   background-color: rgb(0,160,209);
   background-color: rgba(0,160,209, 0.9);
   height: 60px;
   position: absolute;
   bottom:0;
   border-radius: 0 0 20px 20px;
   border-top: 5px solid rgba(0,160,220, .9);
   text-align: center;
 }
   a span { display: none;}
   a {
     font-size: 1.7em;
     color: white;
     margin-right: 4%;
     transition: all 1s ease;
   }


   @media print {
    * {
        -webkit-print-color-adjust: exact;

    }

     #btnPrint {
        display :  none;
    }


}
